.modal-back {
	opacity: 0.3;
	background-color: #282c3486;
	pointer-events: none;
	position: relative;
	z-index: 1200;
}

.slide-enter {
	opacity: 0;
}
.slide-enter-active {
	opacity: 1;
	transition: opacity 600ms;
}
.slide-exit {
	opacity: 1;
}
.slide-exit-active {
	opacity: 0;
	transition: opacity 600ms;
}